#footer {
    text-align: center;
    padding-top: 200px;
    padding-bottom: 50px;
    width: 100%;
}
.social_media_container {
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.fa {
    padding: 15px;
    font-size: 30px;
    width: 20px;
    height: 20px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
}
.fa-linkedin {
    background-color: black;
    color: white;
    margin-right: 10px;
}

.fa-envelope-o {
    background-color: black;
    color: white;
    margin-left: 10px;
}	

.copyright {
    position: relative;
    width: 100%; 
    height: 100px;                  
    p {
        text-align: center;
        font-size: 11px;
    }
}