<!-- FOOTER -->
<body>
<footer id="footer">
    <h3>Say hi! :)</h3>
    <div class="social_media_container">
        <a href="https://www.linkedin.com/in/andrea-lam-15473985/" class="fa fa-linkedin" style="font-size: 20px" title="button to Andrea's linkedln profile" target="_blank"></a>
        <a href="mailto:andrea.lam00@gmail.com" class="fa fa-envelope-o" style="font-size: 20px" title="button to email Andrea" target="_blank"></a>
        <a href="https://github.com/andreathelam/portfolio" class="fa fa-github" style="font-size: 20px" title="button to github website repo" target="_blank"></a>
    </div>

    <div class="copyright">
        <p>&copy; 2022 Andrea Lam</p>
    </div>
</footer>
</body>
