@media screen and (max-width: 599px) {
    .row5050 {
        .left {
            padding-bottom: 30px;
        }
        .right {
            padding-top: 30px;
        }
    }

}

@media screen and (min-width: 600px) and (max-width: 991px)  {
    .sdv_personas {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;

        .box {
            width: 30%;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}

@media screen and (min-width: 992px) {
    .sdv_personas {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;

        .box {
            width: 30%;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    .row5050 {
        .left {
            width: 50%;
            padding-right: 30px;
        }
        .right {
            width: 50%;
            padding-left: 30px;
        }
        .col {
            width: 48%;
        }
        .col_img {
            width: 50%;
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        hr {
            width:1;
            size:600px;
        }

    }
}

mark {
    background-color: #F5B971;
    color: black;
}
