<app-navbar></app-navbar>

<body>
    <div class="page_container">
        <section class="grow_title">
            <picture>
                <source media="(min-width: 1900px)" srcset="assets/s20/surviving2020_hero_big.png" alt="surviving2020_hero hero" class="responsive">
                <source media="(min-width: 992px)" srcset="assets/s20/surviving2020_hero.png" alt="surviving2020_hero hero" class="responsive">
                <source media="(min-width: 600px)" srcset="assets/s20/surviving2020_hero_med.png"  alt="surviving2020_hero hero" class="responsive">
                <source media="(max-width: 599px)" srcset="assets/s20/surviving2020_hero_sm.png" alt="surviving2020_hero hero" class="responsive">
                <img src="assets/s20/surviving2020_hero.png" alt="surviving2020_hero hero" class="responsive">
            </picture>
        </section>

        <!-- PROJECT OVERVIEW -->
    <section class="section" href="project_overview" id="project_overview">
        <div class="col1">
            <h5><mark><strong>OVERVIEW</strong></mark></h5>
            <p>Our game, <strong>Surviving 2020</strong>, is an Oregon-Trail esque parody game built in <strong>Twine</strong>, based around the theme of living during the time of the <strong>pandemic</strong>. It explores various topics from popular trends and political events from the year 2020. The goal of this game is to <strong>provide some comic relief as the player tries to survive 2020</strong>.</p>
        </div>
        <div class="col2">
            <h5><mark><strong>ROLE & DURATION</strong></mark></h5>
            <p><strong>Art, Front-end Development</strong></p>
            <p><em>Moodboard, Pixel Art, HTML/CSS, Javascript</em></p>
            <p>Team of 6 (School Project)</p>
            <hr>
            <p><em>Jan 2021 - Mar 2021</em></p>
        </div>
    </section>

    <!-- BUILDING THE STRUCTURE -->
    <section class="section" href="structure" id="structure">
        <div class="banner">
            <h1 style="color: #922929;">Building the Structure</h1>
            <hr>
        </div>

        <h4><mark><u><strong>Project Requirements</strong></u></mark></h4>
        <ul>
            <li>Access from a web browser
                <ul>
                    <li>The game will be developed through Twine, which is a tool to create text-based web games. The end result of this project will be a playable, fully interactive game that users can access from any web browser on a device with internet connection.</li>
                </ul>
            </li>
            <li>Pandemic-themed
                <ul>
                    <li>The focus of this game will be pandemic-themed. This includes the storylines, characters, and any design assets.</li>
                </ul>
            </li>
            <li>Single-player
                <ul>
                    <li>The game will be created only for single-player.</li>
                </ul>
            </li>
            <li>Branching & multiple storylines
                <ul>
                    <li>The type of this game will be interactive fiction. Users will read story content and interact by making decisions that will lead to the next event in the game. This is done through hyperlinks. Since there will be many options and paths for users to choose from, users will be able to explore multiple storylines with different events and alternate endings.</li>
                </ul>
            </li>
            <li>Original art and assets
                <ul>
                    <li>All designs for the game will be created by the team. This will be done through Adobe Illustrator and Photoshop. By doing this, it creates an experience that is unique and different for the players to enjoy.</li>
                </ul>
            </li>
        </ul>
        <h4><mark><u><strong>Visualizing the Story</strong></u></mark></h4>
        <img src="assets/s20/surviving_board.png" width="100%">
        <p style="font-size:11px; opacity: 60%; float: right;"><em>via Milanote</em></p>
        <h4><mark><u><strong>Visualizing the Art</strong></u></mark></h4>
        <img src="assets/s20/surviving_moodboard.png" width="100%">
        <p style="font-size:11px; opacity: 60%; float: right;"><em>via Milanote</em></p>

    </section>

    <!-- CREATING THE ART -->
    <section class="section" id="branding">
        <div class="banner">
            <h1 style="color: #922929;">Creating the Art</h1>
            <hr>
        </div>
        <div class="art">
            <div class="col1">
                <p>All the art in the game was originally-created by our art team. The style we followed was pixel-themed to mimic the style from The Oregon Trail game. We used Aesprite, a pixel art tool, and Adobe Illustrator as the programs to design everything. During implementation, we added to the CSS stylesheet on Twine to develop the overall look of the final product.</p>
            </div>

            <div class="col2">
                <img src="assets/s20/surviving_art.png" alt="brand colors" width="100%">
            </div>
        </div>
    </section>

    <!-- PUTTING IT ALL TOGETHER -->
    <section class="section" id="prototypes">
        <div class="banner">
            <h1 style="color: #922929;">Putting it All Together</h1>
            <hr>
        </div>

        <h4><mark><u><strong>The Mechanics</strong></u></mark></h4>
        <div class="art">
            <div class="col1">
                <img src="assets/s20/surviving_walkthrough.gif" alt="playthrough gif">
            </div>
            <div class="col2">
                <p>While navigating randomly-generated events, players must keep track of three main resources, Health, Happiness, and Money. These events are based on many of the shared experiences and frustrations that people have gone through during the pandemic, such as "losing your job" or "making banana bread" and will increase or decrease the player's resources. Each screen consists of descriptive text and hyperlink(s) that will lead the player to the next passage.
        Every action the player takes gives the player a chance of receiving Covid-19, and if players run out of their resources, they also are given a loss and will need to restart the game. To survive the game, players must last multiple rounds without emptying their resources until the vaccine has developed and they can receive it.
            </p>
            </div>
        </div>
        
        <div class="mockups">
            <a href="https://archmagi.itch.io/surviving-2020" target="_blank"><h4><u><em>Play Surviving2020</em></u></h4></a>
        </div>

        <h4><mark><u><strong>Takeaways</strong></u></mark></h4>
        <p>My team was unfamiliar with the structure of Twine, so we needed to learn and implement our game quickly while also encountering the challenges of working virtually. In this project course, we covered project management strategies, such as writing up a Work Breakdown Structure and following a Gantt Chart. I noticed a reoccurring problem was scope creep, of which we addressed through removing low-priority features or finding workarounds. The next steps for Surviving2020 would be to conduct user testing for quality assurance and revisions. </p>
    </section>


<app-viewmoremenu></app-viewmoremenu>
<app-footer></app-footer>


    </div>
</body>
