<app-navbar></app-navbar>

<body> 

<div class="page_container">


    <section class="grow_title">
        <picture>
            <source media="(min-width: 1900px)" srcset="assets/projectcupid/projectcupid_hero_big.png" alt="projectcupid hero" class="responsive">
            <source media="(min-width: 992px)" srcset="assets/projectcupid/projectcupid_hero.png" alt="projectcupid hero" class="responsive">
            <source media="(min-width: 600px)" srcset="assets/projectcupid/projectcupid_hero_med.png"  alt="projectcupid hero" class="responsive">
            <source media="(max-width: 599px)" srcset="assets/projectcupid/projectcupid_hero_sm.png" alt="projectcupid hero" class="responsive">
            <img src="assets/projectcupid/projectcupid_hero.png" alt="project cupid hero" class="responsive">
        </picture>
    </section>

    <!-- PROJECT OVERVIEW -->
    <section class="section" href="project_overview" id="project_overview">
        <div class="col1">
            <h5><mark><strong>OVERVIEW</strong></mark></h5>
            <p>As a student who learns from experiencing, I’m always looking for projects to work on. However, project teams require members from various backgrounds and skills that are beyond my abilities. So, we created a platform where one could search for other individuals who wanted to also grow through working on a project together.</p>
            <p>Project Cupid is a <strong>web and mobile project finder service</strong> that gives students a platform to build project teams. Whether you are a student looking for a project to contribute to or a project lead looking for teammates, Project Cupid’s <strong>goal is to help students find the perfect match in teammates to bring their project ideas to life.</strong></p>
        </div>
        <div class="col2">
            <h5><mark><strong>ROLE & DURATION</strong></mark></h5>
            <p><strong>Web UI Design</strong><br></p>
            <p><em>Storyboarding, Cognitive Walkthrough, Visual Design, Wireframes & Prototypes</em></p>
            <p>Team of 4 (School Project)</p>
            <hr>
            <p><em>Jan 2021 - Mar 2021</em></p>
        </div>
    </section>

    <!-- UNDERSTANDING THE USER -->
    <section class="section" href="user" id="user">
        <div class="banner">
            <h1 style="color: #DA4167;">Understanding the User</h1>
            <hr>    
        </div>

        <h4><mark><u>Storyboard</u></mark></h4>
        <p>To understand how the application would be used from different perspectives, my team created two storyboards describing the user's experience. 
            The first board shows a student looking to build a team for a project. 
            The second shows a student looking for a project team to join.</p>
        <div class="row5050">
            <div class="col">
                <h5 style="margin: 0;">Project Cupid: Building a Team</h5>
                <img src="assets/projectcupid/story1.png" alt="persona for grow project" width=100%;>
            </div>
            <div class="col">
                <h5 style="margin: 0;">Project Cupid: Looking for a Project</h5>
                <img src="assets/projectcupid/story2.png" alt="persona for grow project" width=100%;>
            </div>
        </div>
        
        
    </section>

    <!-- BUILDING THE STRUCTURE 
    <section class="section" href="structure" id="structure">
        <div class="banner">
            <h1 style="color: #DA4167;">Building the Structure</h1>
            <hr>
        </div>

        <h4><mark><u><em><strong>User Flow</strong></em></u></mark></h4>
        <p>By visualizing the processes the user takes when using the application, we created a user flow to identify and understand how the user would navigate through ProjectCupid.
            This acted as a guide for determining the functional requirements and the navigational links for the wireframes and provided a basis for our user testing.
        </p>
        <img src="assets/grow_user_flow.png" width="100%">

    </section>-->

    <!-- LAYING THE FOUNDATION -->
    <section class="section" id="sketches">
        <div class="banner">
            <h1 style="color: #DA4167;">Laying the Foundation</h1>
            <hr> 
        </div>

        <h4><mark><u><strong>Low-Fi Wireframes</strong></u></mark></h4>
        <img src="assets/projectcupid/projectcupid_lowfi.png" alt="project cupid wireframes" class="responsive">


    
        <h4><mark><u><strong>Round #1: Cognitive Walkthrough</strong></u></mark></h4>

        <div class="cog1">
            <div class="cog_desc">
                <p>To make sure our wireframes are heading in the right direction, we conducted expert evaluations with other students in the course. 
                    Our tasks covered the basic, necessary functions the application shall have across both the website and mobile platforms. 
                    The feedback gathered helped us settle on the layout, views, user flows, and visual elements of the hi-fidelity wireframes and functional prototype.
                </p>
                <a href="https://drive.google.com/file/d/1Td3XbUiooOM4WdQU3kvM0q42ouk6scvD/view?usp=sharing" target="_blank"><h4><u><em>Watch the Evalution Session</em></u></h4></a>
            </div>

            <hr width="1" size="300">
            
            <div class="tasks">
                <h5><u>Website Tasks</u></h5>
                <ul>
                    <li>Create an Account</li>
                    <li>Create a Project Post</li>
                    <li>Apply for a Project</li>
                </ul>

            </div>

        </div>
    </section>


    <!-- REFINE AND REPEAT -->
    <section class="section" id="prototypes">
        <div class="banner">
            <h1 style="color: #DA4167;">Refine and Repeat</h1>
            <hr>
        </div>

        <h4><mark><u><strong>Hi-Fi Wireframes</strong></u></mark></h4>
        <a href="https://www.figma.com/proto/KCP72mfguITN6YFkCmc4Tm/Project-Cupid-HiFi-Wireframes?node-id=10%3A355&scaling=contain" target="_blank"><h4><u><em>Interact with my prototype</em></u></h4></a>
        <p>With the user feedback, we implemented the changes and refined the wireframes to include our branding and related content. 
            We also added feedback messages for when the user saves changes, applies for projects, and accepts/rejects a project. 
        </p>
        <img src="assets/projectcupid/projectcupid_hifi.png" alt="mockups" class="responsive">
        <div class="row5050">
            <div class="col">
                <img src="assets/projectcupid/hifi_login.png" class="responsive">
            </div>
            <div class="col">
                <img src="assets/projectcupid/hifi_feedback.png" class="responsive">
            </div>
        </div>
        <h4><mark><u><strong>Round #2: Cognitive Walkthrough</strong></u></mark></h4>

            <div class="cog1">
                <div class="cog_desc">
                    <p>With our functional prototypes, we conducted another round of user testing with 5 recruited participants to identify and characterize usability issues and evaluate the user flow throughout the application. 
                        These participants had different experiences with software interfaces, and the tasks we choose were more detailed and refined from the first round of testing. 
                    From these evaluations, we learned that some design elements, such as color and font, needed to be adjusted to emphasize important information. We also fixed any issues we had with functionality.</p>            
                </div>
    
                <hr width="1" size="450">
                
                <div class="tasks">
                    <h5><u>Website Tasks</u></h5>
                    <ul>
                        <li>Create an Account</li>
                        <li>Post a Project Post</li>
                        <li>Edit your Project</li>
                        <li>Filter projects by category/position</li>
                        <li>Apply to a project</li>
                        <li>Edit your profile</li>
                        <li>Check Notifications</li>
                    </ul>
                </div>
    
            </div>
            <br>
        <h4><mark><u><strong>Takeaways</strong></u></mark></h4>
        <p>Although my main responsibility for Project Cupid was the web mockups, I found it necessary to collaborate with the mobile mockups team in order to make sure the application is consistent all around. This project also included iterative cycles of user testing and refinement from the feedback, of which 
            I learned the importance of evalutions and the value it has on improving and catching the big and small issues on the application.</p>
    </section>

<app-viewmoremenu></app-viewmoremenu>
<app-footer></app-footer>

</div>

</body>


