<app-navbar></app-navbar>
<head>
    <link rel="stylesheet" href="about.component.scss">
</head>

<body> 
    <div class="me">
        <div class="portrait">
            <img src="assets/profile.png" alt="andrea portrait">
        
        </div>
        <div class="me_description">
            <h1>Hi, I'm Andrea, <br>
                a creative using design as a space to connect
            </h1>
            <h4>From the <mark style="background-color: #A3DDCB;">San Francisco Bay Area</mark><br>
                Attending college at the <mark style="background-color: #F0B8BF;">University of California, Irvine</mark></h4>
            <p>Starting with <strong>graphic design</strong> in high school, I learned the significance of images and the influence of text and colors when creating a <strong>visual message</strong>. This led me to <strong>branding</strong>, when I began to understand the comprehensive packaging of design that represents a vision and identity. Now, I am exploring <strong>interactive design</strong> and the utilization of design to provide solutions to people’s needs.</p>
        </div>
    </div>

    <div class="about_section" id="title">
        <div class="col">
            <h3><mark>In my freetime, you can find me...</mark></h3>
        </div>
        <div class="col"></div>
        <div class="col"></div>
    </div>
    <section class="about_section" id="freetime">
        <div class="content">
            <div style="background-color: #A3DDCB;" class="col">
                <img src="assets/coffee.png" alt="coffee">
                <p>Studying in coffee shops to feed my coffee addiction.</p>
            </div>
            <div style="background-color: #CFB5D0;" class="col">
                <img src="assets/sdv_me.png" alt="coffee">
                <p>Watering my blueberries in Stardew Valley.</p>
            </div>
            <div style="background-color: #EEAA8C;"  class="col" id="plane">
                <img src="assets/plane.png" alt="coffee">
                <p>Exploring places to experience new foods and culture.</p>
            </div>
        </div>
    </section>

    <hr style="margin-bottom: 80px; width:60%">

    <div class="about_section" id="title">
        <div class="col">
            <h3><mark>My Skills</mark></h3>
        </div>
        <div class="col"></div>
        <div class="col"></div>
    </div>
    <section class="about_section" id="skills">
        <div class="content">
            <div class="content_container">
                <div class="col">
                    <img src="assets/expertise.png" alt="expertise icon" class="responsive">
                    <ul>
                        <p><b><u>Expertise</u></b></p>
                        <li>Storyboarding</li>
                        <li>Scenarios</li>
                        <li>Use/Task Flows</li>
                        <li>Contextual Inquiry</li>
                        <li>Cognitive Walkthrough</li>
                        <li>Wireframing/Mockups</li>
                        <li>Prototyping</li>
                    </ul>
                </div>
                <div class="col" id="programs">
                    <img src="assets/programs.png" alt="programs icon" class="responsive">
                        <ul>
                            <p><b><u>Programs</u></b></p>
                            <li>Adobe Illustrator</li>
                            <li>Adobe Photoshop</li>
                            <li>Adobe Xd</li>
                            <li>Figma</li>
                            <li>Aesprite</li>
                        </ul>
                </div>
                <div class="col">
                    <img src="assets/languages.png" alt="languages icon" class="responsive">
                    <ul>
                        <p><b><u>Languages</u></b></p>
                        <li>English (fluent)</li>
                        <li>German (conversational)</li>
                        <li>HTML/CSS</li>
                        <li>Javascript (basic)</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    

    <hr style="margin-bottom: 80px; width:60%">

    <div class="about_section" id="title">
        <div class="col">
            <h3><mark>My Experience</mark></h3>
        </div>
        <div class="col"></div>
        <div class="col"></div>
    </div>
    <section class="about_section "id="experience">
        <div class="content">
            <div class="content_container">
                <div class="col">
                    <div class="job_title">
                        <h3><img src="assets/Esports Anteater.png" alt="uci esports logo"><b>  UCI Esports</b></h3>
                        <p><em>Graphic Design Intern</em></p>
                        <p style="font-size: 14px; color:rgb(36, 35, 35)">July 2020 - present</p>
                        <ul>
                            <li>Create visual aids such as match graphics, social media posts, logos, stream materials, and layouts.</li>
                            <li>Plan and develop branding for tournaments and campaigns.</li>
                        </ul>

                    </div>
                </div>
                <div class="col">
                    <div class="job_title">
                        <h3><img src="assets/StartSmart.png" alt="startsmart logo"><b>  StartSmart</b></h3>
                        <p><em>Front-End Developer</em><br>
                        <em>Creative Director</em></p>
                        <p style="font-size: 14px; color:rgb(36, 35, 35)">Sept 2020 - Apr 2021</p>
                        <ul>
                            <li>Guide the creation and execution of brand materials for the startup, including all design assets: logos, icons, graphics, etc.</li>
                            <li>Develop and maintain website on Wordpress. Website was included in application to the LaunchPad Fellowship Program, of which the startup was one of the 30 out of 900 selected.</li>
                        </ul>
                    </div>
                </div>
                <div class="col">
                    <div class="job_title">
                        <h3><img src="assets/uam.png" alt="urban air market logo"><b>  Urban Air Market</b></h3>
                        <p><em>Strategic Partnerships Manager</em><br>
                        <em>Graphic Designer</em></p>
                        <p style="font-size: 14px; color:rgb(36, 35, 35)">Mar 2019 - Jan 2020</p>
                        <ul>
                            <li>Researched and contacted potential partners and managed relationships with 10+ partners.</li>
                            <li>Negotiated partnership agreements to meet the needs of the partner and the business and raised $10,000+ in sponsorship sales.</li>
                            <li>Produce graphic design materials to promote to 14,500 social media followers: flyers, brochures, banners, slide decks.</li>
                        </ul>
                    </div>
                </div>
                </div>
        </div>
    </section>



<app-footer></app-footer>
</body>