@media screen and (max-width: 599px) {
    .me {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: 20px;

        .portrait {
            width: 70%;
            align-self: center;
            display: flex;
            justify-content: center;
            img {
                align-items: center;
                padding-bottom: 10px;
                object-fit: contain;
            }

        }
        .me_description {
            align-self: flex-start;
        
        }
    }
    .about_section {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 100%;
        margin-bottom: 80px;

        .content {
    
            .col {
                display: flex;
                flex-direction: column;
                align-items: flex-start;

                img {
                    width: 50%;
                    height: auto;
                }
            }
            #programs {
                margin-left: 40px;
            }
        }
    }
    #title {
        margin-bottom: 0;
        h3 {
            margin-top:0;
            margin-left: 10px;
        }
    }
    #freetime {
        #plane {
            img {
                width: 60px;
            }
        }
        .content {
            .col {
                border-radius: 10px;
                padding: 20px;
                margin: 15px;
                
                img {
                    width:50px;
                    height: auto;
                    padding-left: 20px;
                }

                p {
                    margin: 0;
                    padding-left: 20px;
                }
            }
        }
    }
    #skills {
        .content {
        border-radius: 20px;

        .content_container {
            width: 100%;

            .col {
                padding: 20px;
                margin: 15px;
                
                img {
                    width:50px;
                    height: auto;
                    padding-left: 20px;
                }

                p {
                    margin: 0;
                
                }
            }
        }
        }
    }
    #experience {

        h3 {
            font-size: 20px;
            margin-bottom: -4px;
            img {
                width: 20px;
            }
        }
        em {
            font-size: 16px;
        }
        .content {
            flex-direction: column;
        
            border-radius: 20px;

            .content_container {
                margin-left: 20px;
                margin-right: 20px;
            }
            .col {
                width: 100%;
                padding-bottom: 20px;

                .job_title {
                    p {
                        margin-top: 0;
                        margin-bottom: 3px;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 600px) and (max-width: 991px)  {
    .me {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: 20px;

        .portrait {
            width: 50%;
            align-self: center;
            display: flex;
            justify-content: center;
            img {
                align-items: center;
                padding-bottom: 10px;
                object-fit: contain;
            }

        }
        .me_description {
            align-self: flex-start;
            h1 {
                font-size: 40px;
                line-height: 1.0;
            }
        
        }
    }
    .about_section {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;
        margin-bottom: 80px;

        .content {
            width: 80%;
            display: flex;
            justify-content: center;
            flex-direction: row;
            margin-left: -40px;
    
            .col {
                display: flex;
                flex-direction: column;
                width: 30%;
                align-items: flex-start;

                img {
                    width: 50%;
                    height: auto;
                }
            }
            #programs {
                margin-left: 40px;
            }
        }
    }
    #title {
        margin-bottom: 0;
        h3 {
            margin-top:0;
            margin-left: -80px;
        }
    }
    #freetime {
        #plane {
            img {
                width: 60px;
            }
        }
        .content {
            .col {
                
                border-radius: 10px;
                padding: 20px;
                margin: 15px;
                
                img {
                    width:50px;
                    height: auto;
                    padding-left: 20px;
                }

                p {
                    margin: 0;
                    padding-left: 20px;
                }
            }
        }
    }
    #skills {
        .content {
        border-radius: 20px;

        .content_container {
            display: flex;
            flex-direction: row;
            justify-content: center;
            width: 100%;

            .col {
                width:30%;
                border-radius: 10px;
                padding: 20px;
                margin: 15px;
                
                img {
                    width:50px;
                    height: auto;
                    padding-left: 20px;
                }

                p {
                    margin: 0;
                
                }
            }
        }
        }
    }
    #experience {

        h3 {
            font-size: 20px;
            margin-bottom: -4px;
            img {
                width: 20px;
            }
        }
        em {
            font-size: 16px;
        }
        .content {
            flex-direction: column;
        
            border-radius: 20px;

            .content_container {
                margin-left: 50px;
                margin-right: 50px;
            }
            .col {
                width: 100%;
                padding-bottom: 20px;

                .job_title {
                    p {
                        margin-top: 0;
                        margin-bottom: 3px;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 992px) {

    .me {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        margin-bottom: 20px;

        .portrait {
            width: 40%;
            float: right;
            align-self:flex-end;
            margin-right: 50px;
            img {
                align-items: center;
                padding-bottom: 20px;
            }

        }
        .me_description {
            width: 50%;
            align-self: flex-start;
            h1 {
                font-size: 40px;
                line-height: 1.0;
            }
        
        }
    }


    #freetime {
        #plane {
            img {
                width: 60px;
            }
        }
        .content {
            .col {
                
                border-radius: 10px;
                padding: 20px;
                margin: 15px;
                
                img {
                    width:50px;
                    height: auto;
                    padding-left: 20px;
                }

                p {
                    margin: 0;
                    padding-left: 20px;
                }
            }
        }
    }
    #title {

        margin-bottom: 0;
        h3 {
            margin-top:0;
            margin-left: -150px;
        
        }
    }
    .about_section {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;
        margin-bottom: 80px;

        .content {
            width: 80%;
            display: flex;
            justify-content: center;
            flex-direction: row;
            margin-left: -40px;
    
            .col {
                display: flex;
                flex-direction: row;
                width: 30%;
                align-items: flex-start;

                img {
                    width: 50%;
                    height: auto;
                }
            }
            #programs {
                margin-left: 40px;
            }
        }
    }
    #skills {
        .content {
        border-radius: 20px;

        .content_container {
            display: flex;
            flex-direction: row;
            justify-content: center;
            width: 100%;

            .col {
                width:40%;
                border-radius: 10px;
                padding: 20px;
                margin: 15px;

                #programs {
                    ul {
                        margin-left: -20px;
                    }
                }
                
                img {
                    width:80px;
                    height: auto;
                    padding-left: 20px;
                }

                p {
                    margin: 0;
                
                }
                ul {
                    list-style: none;
                    margin-left: -40px;
                }
            }
        }
        }
    }
    #experience {

        h3 {
            font-size: 20px;
            margin-bottom: -4px;
            img {
                width: 20px;
            }
        }
        em {
            font-size: 16px;
        }
        .content {
            flex-direction: column;
        
            border-radius: 20px;

            .content_container {
                margin-left: 50px;
                margin-right: 50px;
            }
            .col {
                width: 100%;
                padding-bottom: 20px;

                .job_title {
                    p {
                        margin-top: 0;
                        margin-bottom: 3px;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1300px) {

    .me {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        margin-bottom: 20px;

        .portrait {
            width: 30%;
            float: right;
            align-self:flex-end;
            margin-right: 50px;
            img {
                align-items: center;
                padding-bottom: 20px;
            }

        }
        .me_description {
            width: 50%;
            align-self: flex-start;
            h1 {
                font-size: 40px;
                line-height: 1.0;
            }
        
        }
    }


    #freetime {
        #plane {
            img {
                width: 60px;
            }
        }
        .content {
            .col {
                
                border-radius: 10px;
                padding: 20px;
                margin: 15px;
                
                img {
                    width:50px;
                    height: auto;
                    padding-left: 20px;
                }

                p {
                    margin: 0;
                    padding-left: 20px;
                }
            }
        }
    }
    #title {

        margin-bottom: 0;
        h3 {
            margin-top:0;
            margin-left: -150px;
        
        }
    }
    .about_section {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;
        margin-bottom: 80px;

        .content {
            width: 80%;
            display: flex;
            justify-content: center;
            flex-direction: row;
            margin-left: -40px;
    
            .col {
                display: flex;
                flex-direction: row;
                width: 30%;
                align-items: flex-start;

                img {
                    width: 50%;
                    height: auto;
                }
            }
            #programs {
                margin-left: 40px;
            }
        }
    }
    #skills {
        .content {
        border-radius: 20px;

        .content_container {
            display: flex;
            flex-direction: row;
            justify-content: center;
            width: 100%;

            .col {
                width:40%;
                border-radius: 10px;
                padding: 20px;
                margin: 15px;

                #programs {
                    ul {
                        margin-left: -20px;
                    }
                }
                
                img {
                    width:80px;
                    height: auto;
                    padding-left: 20px;
                }

                p {
                    margin: 0;
                
                }
                ul {
                    list-style: none;
                    margin-left: -40px;
                }
            }
        }
        }
    }
    #experience {

        h3 {
            font-size: 20px;
            margin-bottom: -4px;
            img {
                width: 20px;
            }
        }
        em {
            font-size: 16px;
        }
        .content {
            flex-direction: column;
        
            border-radius: 20px;

            .content_container {
                margin-left: 50px;
                margin-right: 50px;
            }
            .col {
                width: 100%;
                padding-bottom: 20px;

                .job_title {
                    p {
                        margin-top: 0;
                        margin-bottom: 3px;
                    }
                }
            }
        }
    }
}