@media screen and (max-width: 599px) {
  /* HEADER */
  .logo_container{
    display: none;
  }
  .navmenu {
      display: none;
  }
  #mobile_header {
      width: 100%;
      height: 80px;
      display: block;
      margin-bottom: 10px;
  }
  .inner_header {
      width: 100%;
      height: 100%;
      display: block;
      margin: 0;
  }
  .mobile_logo_container {
      display: table;
      float: left;
      height: 100%;
  }
  .mobile_logo_container a {
      display: table-cell;
      vertical-align: middle;
      height: 100%;
  }
  #toggle_icon {
      display: table;
      font-size: 30px;
      float: right;
      z-index: 2;
      cursor: pointer;
      padding-top: 15px;
  }
  .fa-bars {
      font-size: 30px;
      float: right;
  }
  #close_icon {
      font-size: 30px;
      margin-right: 50px;
      margin-top: 20px;
      z-index: 1;
      cursor: pointer;
      float: right;
      
  }
  #overlay {
      position: fixed;
      display: flex;
      flex-direction: row-reverse;
      width: 100%;
      height: 100%;
      background: white;
      z-index: 1;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;

  }
  .navmenu_overlay {
      top: 25%;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: 0.5s;
      z-index: 2;
      margin-left: 60px;
      width: 100%;
      flex-grow: 4;
  }

  .navmenu_overlay ul {
      position: relative;
      padding-left: 0;
  }
  .navmenu_overlay ul li {
      position: relative;
      list-style: none;
      text-align: center;
      display: block;
      padding: 20px;
  }
  .navmenu_overlay ul li a {
      position: relative;
      text-decoration: none;
      color: black;
      font-size: 30px;
  }
}
@media screen and (min-width: 600px) and (max-width: 991px) {
  /* HEADER */
  .logo_container{
    display: none;
  }
  .navmenu {
      display: none;
  }
  #mobile_header {
      width: 100%;
      height: 80px;
      display: block;
      margin-bottom: 10px;
  }
  .inner_header {
      width: 100%;
      height: 100%;
      display: block;
      margin: 0;
  }
  .mobile_logo_container {
      display: table;
      float: left;
      height: 100%;
  }
  .mobile_logo_container a {
      display: table-cell;
      vertical-align: middle;
      height: 100%;
  }
  #toggle_icon {
      display: table;
      font-size: 30px;
      float: right;
      z-index: 2;
      cursor: pointer;
      padding-top: 15px;
  }
  .fa-bars {
      font-size: 30px;
      float: right;
  }
  #close_icon {
      font-size: 30px;
      margin-right: 50px;
      margin-top: 20px;
      z-index: 1;
      cursor: pointer;
      float: right;
  }
  #overlay {
      position: fixed;
      display: flex;
      flex-direction: row-reverse;
      width: 100%;
      height: 100%;
      background: white;
      z-index: 1;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
  }
  .navmenu_overlay {
      top: 25%;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: 0.5s;
      z-index: 2;
      flex-grow: 4;
      margin-left: 70px;
  }

  .navmenu_overlay ul {
      position: relative;
      padding-left: 0;
  }
  .navmenu_overlay ul li {
      position: relative;
      list-style: none;
      text-align: center;
      display: block;
      padding: 20px;
  }
  .navmenu_overlay ul li a {
      position: relative;
      text-decoration: none;
      color: black;
      font-size: 30px;
  }

}

a.hover, a.active {
    background-color: #FCE58C;
    
}

body {
    overflow: visible;
}
  
  .dropdown {
    position: relative;
    display: inline-block;
    overflow: visible
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
    overflow: visible
  }
  
  .dropdown-content a {
    color: black;
    padding: 10px 12px;
    text-decoration: none;
    display: block;
  }
  
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #FCE58C;}