<app-navbar></app-navbar>

<body> 


<div class="page_container">

    <div id="pop_up" onclick="closeImg(this)">
        <div id="image_enlarged">
            <img id="imgsrc"/>
            <div id="close_btn">
                <img src="assets/close_btn.png"/>
            </div>
        </div>
    </div>


    <section class="grow_title">
        <picture>
            <source media="(min-width: 1900px)" srcset="assets/pollinate/pollinate_hero_big.png" alt="pollinate Project hero" class="responsive">
            <source media="(min-width: 992px)" srcset="assets/pollinate/pollinate_hero.png" alt="pollinate Project hero" class="responsive">
            <source media="(min-width: 600px)" srcset="assets/pollinate/pollinate_hero_med.png"  alt="pollinate Project hero" class="responsive">
            <source media="(max-width: 599px)" srcset="assets/pollinate/pollinate_hero_sm.png" alt="pollinate Project hero" class="responsive">
            <img src="assets/pollinate/pollinate_hero.png" alt="pollinate Project hero" class="responsive">
        </picture>

    </section>

    <!-- PROJECT OVERVIEW -->
    <section class="section" href="project_overview" id="project_overview">
        <div class="col1">
            <h5><mark><strong>OVERVIEW</strong></mark></h5>
            <p>Pollinate is a <strong>mobile gardening tool</strong> that provides easy to understand and personalized <strong>care guides</strong>, connects <strong>new and experienced gardeners</strong>, and presents selected <strong>recipes</strong> with ingredients in their gardens to give incentive for users to take care of their plants and themselves.</p>
            <p>This project was part of <a href="https://www.facebook.com/letscreatesc/" target="_blank">
                CreateSC</a>, 24 hour designathon, where the given prompt was to design a mobile app that focuses on user wellness. Out of 60+ projects entered, our team placed 1st!</p>
        </div>
        <div class="col2">
            <h5><mark><strong>ROLE & DURATION</strong></mark></h5>
            <p><strong>Mobile UI Design</strong></p>
            <p><em>Interviews, Personas, Competitive Analysis, Wireframes, Mockups, Prototype, Visual Design</em></p>
            <p>Team of 2 (Designathon)</p>
            <hr>
            <p><em>Apr 2022</em></p>
        </div>
    </section>

    <!-- DEFINING THE PROBLEM -->
    <section class="section" href="user" id="user">
        <div class="banner">
            <h1 style="color: #A9C5A8;">Defining the Problem</h1>
            <hr>    
        </div>

        <h4><mark>How does gardening relate to wellness?</mark></h4>

        <p>To better understand how effective gardening is to one's wellness, we conducted research online and found:  </p>
            <ul>
                <li>Viewing plants altered EEG recordings and reduced stress, fear, anger and sadness, as well as reducing blood pressure, pulse rate and muscle tension. — <em>Clinical Medicine (London, England)</em></li>
                <br/><li>Gardening can build self-esteem by accomplishing new tasks. — <em>UNC Health Talk</em></li>
                <br/><li>Gardening helps you eat more fresh fruits and vegetables, and you get to decide what kinds of fertilizers and pesticides come in contact with your food. — <em>Harvard Health Publishing</em></li>
            </ul>
      
        <h4><mark>Method: Interviews</mark></h4>
        <p>We wanted to understand what our peers think about gardening and how approachable the activity is, so we conducted interviews with 4 young adults.</p>
        <h3>Research Questions</h3>
        <ol>
            <p>1. What is your experience with gardening?<br/>
                2. Why do you garden or want to garden?<br/>
                3. What tasks do you do when gardening?<br/>
                4. What are some frustrations you have with gardening?<br/>
                5. Are you in a gardening community/know other people who garden? Is it hard to find others?<br/>
                6. What would make gardening easier for you?<br/></p>
        </ol>
        

        <h3>What we learned</h3>   
        
        <div class="quotes-row">
            <div class="quote-box">
                <h1>"</h1>
                <p>It's personally hard to tell what the issue is when there's a startling lack of growth in the plant. Dirt? Water? Sunlight??</p>
            </div>
            <div class="quote-box">
                <h1>"</h1>
                <p>They just start dying and then they keep dying!</p>
            </div>
        </div>
        <div class="quotes-row">
            <div class="quote-box">
                <h1>"</h1>
                <p>I used to be in a gardening club several years ago but it was part of a school program, I haven't tried looking for a gardening community since then.</p>
            </div>
            <div class="quote-box">
                <h1>"</h1>
                <p>The process of gardening is therapeutic and calming! I love eating what I grow because they taste much better and offer more nutritional benefits than store-bought produce.</p>
            </div>
        </div>
    

        <p><em>The Problem</em></p>
        <h2 style="text-align: center; line-height: 1em;"><strong><em>Even though gardening is a productive hobby, contributing to both physical and mental health, it can be hard for young adults to start and stick with it.</em></strong></h2>
        

        <h4><mark>Method: Competitive Analysis</mark></h4>
        <p>We conducted a SWOT analysis on three mobile applications to understand what solutions are currently in the market and how our product can stand out.</p>
        <picture>
            <source media="(min-width: 1900px)" srcset="assets/pollinate/swot_big.png" alt="swot analysis" class="responsive">
            <source media="(min-width: 992px)" srcset="assets/pollinate/swot.png" alt="swot analysis" class="responsive">
            <source media="(min-width: 600px)" srcset="assets/pollinate/swot_med.png"  alt="swot analysis" class="responsive">
            <source media="(max-width: 599px)" srcset="assets/pollinate/swot_sm.png" alt="swot analysis" class="responsive">
            <img src="assets/pollinate/swot.png" alt="swot analysis" class="responsive">

        </picture>
    </section>

    <!-- UNDERSTANDING THE USER -->
    <section class="section" href="user" id="user">
        <div class="banner">
            <h1 style="color: #A9C5A8;">Understanding the User</h1>
            <hr>    
        </div>

        <h4><mark>User Stories</mark></h4>
        <img src="assets/pollinate/user_stories.png" alt="user stories" class="responsive">

        <h4><mark>Persona</mark></h4>
        <p>With what we learned from the research, we created three personas in three audience groups: Gardening Newbie, Community Gardener, and Experienced Gardener.</p>
        <div id="img_cursor" onclick="enlargeImg(document.getElementById('pop_up'), 'assets/pollinate/persona2.png')">
            <img src="assets/pollinate/persona2.png" alt="persona 1" class="responsive">
        </div>
        <div id="img_cursor" onclick="enlargeImg(document.getElementById('pop_up'), 'assets/pollinate/persona1.png')">
            <img src="assets/pollinate/persona1.png" alt="persona 2" class="responsive">
        </div>
        <div id="img_cursor" onclick="enlargeImg(document.getElementById('pop_up'), 'assets/pollinate/persona3.png')">
            <img src="assets/pollinate/persona3.png" alt="persona 3" class="responsive">
        </div>
        <p>From the user research, we decided that the app would incorporate three core concepts that tackle the frustrations of the user groups and serve their gardening goals: <strong>Resources, Recipes, and Community</strong></p>
       
    </section>

    <!-- LAYING THE FOUNDATION -->
    <section class="section" href="structure" id="structure">
        <div class="banner">
            <h1 style="color: #A9C5A8;">Laying the Foundation</h1>
            <hr>
        </div>

        <h4><mark>Site Map</mark></h4>
        <img src="assets/pollinate/sitemap.png" width="100%">
        <h4><mark>Wireframes</mark></h4>
        <img src="assets/pollinate/wireframes.png" width="100%">

    </section>

    <!-- BUILDING THE BRAND -->
    <section class="section" id="branding">
        <div class="banner">
            <h1 style="color: #A9C5A8;">Building the Brand</h1>
            <hr>
        </div>
        <p>We wanted the branding to be friendly, welcoming, and playful, so we chose a rounded typeface, and colors that emulate the gardening theme.</p>
        <picture>
            <source media="(min-width: 1900px)" srcset="assets/pollinate/branding_big.png" alt="branding" class="responsive">
            <source media="(min-width: 992px)" srcset="assets/pollinate/branding.png" alt="branding" class="responsive">
            <source media="(min-width: 600px)" srcset="assets/pollinate/branding_med.png"  alt="branding" class="responsive">
            <source media="(max-width: 599px)" srcset="assets/pollinate/branding_sm.png" alt="branding" class="responsive">
            <img src="assets/pollinate/branding.png" width="100%">
        </picture>
        
    </section>

    <!-- PUTTING IT ALL TOGETHER -->
    <section class="section" id="prototypes">
        <div class="banner">
            <h1 style="color: #A9C5A8;">Putting it All Together</h1>
            <hr>
        </div>

        <h4><mark>Final Mockups</mark></h4>
        <!-- <div class="mockups">
            <img src="assets/pollinate/mockups.png" alt="mockups" class="responsive">
        </div> -->


        <div class="row5050">
            <div class="col">
                <h4>Onboarding</h4>
                <p>When the user first enters, they will be guided through a few questions so that the app will be catered towards their gardening expertise and needs.</p>
            </div>
    
            <div class="col_img">
                <div id="img_cursor" onclick="enlargeImg(document.getElementById('pop_up'), 'assets/pollinate/onboarding.png')">
                    <img src="assets/pollinate/onboarding.png" alt="home screen" class="responsive">
                </div>
            </div>
        </div>

        <div class="row5050">
            <div class="col">
                <h4>Resources for Plant Care</h4>
                <p>The user can browse and add plants to their virtual garden. Each plant will have it own page with care instruction and tips. Alongside, there is a schedule assistant to track plant wellness and remind when a plant needs watering.
                    If any plants are not doing well, a camera feature will allow the user to take a picture in which an algorithm will use to diagnose the problem.
                </p>
            </div>
    
            <div class="col_img">
                <div id="img_cursor" onclick="enlargeImg(document.getElementById('pop_up'), 'assets/pollinate/plant_care.png')">
                    <img src="assets/pollinate/plant_care.png" alt="home screen" class="responsive">
                </div>
            </div>
        </div>

        <div class="row5050">
            <div class="col">
                <h4>Recipes</h4>
                <p>Recipes will be generated based off of the plants in the user's garden.</p>
            </div>
    
            <div class="col_img">
                <div id="img_cursor" onclick="enlargeImg(document.getElementById('pop_up'), 'assets/pollinate/recipes.png')">
                    <img src="assets/pollinate/recipes.png" alt="home screen" class="responsive">
                </div>
            </div>
        </div>

        <div class="row5050">
            <div class="col">
                <h4>Community Corner</h4>
                <p>In the community corner, the user can connect and interact with other gardeners that share the same interests.</p>
            </div>
    
            <div class="col_img">
                <div id="img_cursor" onclick="enlargeImg(document.getElementById('pop_up'), 'assets/pollinate/community_corner.png')">
                    <img src="assets/pollinate/community_corner.png" alt="home screen" class="responsive">
                </div>
            </div>
        </div>

        <div class="link-center">
            <a href="https://www.figma.com/proto/0Zxxr5TA86eSnFIMhLYGsu/Pollinate?node-id=2%3A2&scaling=min-zoom&starting-point-node-id=6%3A805" target="_blank"><h4><u><em>Interact with my prototype</em></u></h4></a>
        </div>

    </section>

     <!-- MY TAKEAWAY -->
     <section class="section" id="prototypes">
        <div class="banner">
            <h1 style="color: #A9C5A8;">Takeaways & Next Steps</h1>
            <hr>
        </div>

        <p>Given the short amount of time, we weren't able to dive deep into the user research and practice iterative design. With more time, I would have expanded the research to more age groups to validate that our product can connect to a wider audience. Furthermore, I would have conducted user testing and walkthroughs with the prototype so that the design can be improved and refined.
            Nevertheless, I am proud of what my team was able to accomplish within 24 hours and that I got to work on a project that I am passionate and advocate for.
        </p>

    </section>

<app-viewmoremenu></app-viewmoremenu>
<app-footer></app-footer>

</div>

</body>


