<!DOCTYPE html>
<html>
<app-navbar></app-navbar>

<head>
     <!-- Enlarge Image when click -->
     <script>
        var app = angular.module("clickImg", []);
        app.controller('EnlargeController', ['$scope', function ($scope) {
            $scope.enlargeImg = function () {
                alert("This is an example of ng-click");
            }
        }]);
      </script>
</head>
<body ng-app="clickImg"> 

<div class="page_container">


    <section class="grow_title">
        <picture>
            <source media="(min-width: 1900px)" srcset="assets/potions/potions_hero_big.png" alt="stardew journal hero" class="responsive">
            <source media="(min-width: 992px)" srcset="assets/potions/potions_hero.png" alt="stardew journal hero" class="responsive">
            <source media="(min-width: 600px)" srcset="assets/potions/potions_hero_med.png"  alt="stardew journal hero" class="responsive">
            <source media="(max-width: 599px)" srcset="assets/potions/potions_hero_sm.png" alt="stardew journal hero" class="responsive">
            <img src="assets/potions/potions_hero.png" alt="puzzling potions hero" class="responsive">
        </picture>
    </section>

    <!-- PROJECT OVERVIEW -->
    <section class="section" href="project_overview" id="project_overview">
        <div class="col1">
            <h5><mark><strong>OVERVIEW</strong></mark></h5>
            <p>During my internship at <em>Jam City</em>, I worked on their award-winning mobile game, <em>Harry Potter Hogwarts Mystery</em>, focusing on a new feature called <strong>Puzzling Potions</strong>. In this event, players <strong>collect bottles</strong> from classes and use these bottles to <strong>uncover spaces</strong> on a grid to look for <strong>ingredients</strong> used to <strong>brew potions</strong>. </p>
            <p>With the help of two other UI/UX designers on the team, we cycled through many <strong>layouts</strong> to find the best one for the players’ experience, created <strong>prototypes</strong> to explore various mechanics for the feature, and conducted <strong>tests</strong> with long-time players to understand their reactions and thoughts.</p>
        </div>
        <div class="col2">
            <h5><mark><strong>ROLE & DURATION</strong></mark></h5>
            <p><strong>Game UI Design</strong></p>
            <p><em>Screen Flows, Wireframes & Prototypes, Cognitive Walkthroughs, Visual Design</em></p>
            <p>Team of 3</p>
            <hr>
            <p><em>June 2021 - Aug 2021</em></p>
        </div>
    </section>

    <!-- INTIAL BRAINSTORMING -->
    <section class="section" href="user" id="user">
        <div class="banner">
            <h1 style="color: #003c4a;">Initial Brainstorming</h1>
            <hr>    
        </div>

        <p>Once the game design team provided us with the Puzzling Potions specs document, we went into brainstorming mode, exploring different layouts and flows with sketches.</p>
        <h3>We started with the Main Event Screen. It needed to:</h3>
        <ul>
            <li>Be able to fit at least 4 potions</li>
                <ul>
                    <li>potion name</li>
                    <li>a grid where the ingredients are hidden under</li>
                    <li>ingredient silhouettes that will be filled in</li>
                </ul>
            <li>Include the Grand Prize</li>
            <li>Include prizes for each potion completed</li>
        </ul>
        <div class="sketches">
            <div class="sketch">
                <img src="assets/potions/potions_sketches_1.png" alt="sketch 1" class="responsive">
            </div>
            <div class="sketch">
                <img src="assets/potions/potions_sketches_2.png" alt="sketch 2" class="responsive">
            </div>
        </div>
        <br>
        <p>Ideally we wanted the whole event to be played on one screen, so the player would have immediate access to all the information needed, but it ended up being too cramped and uncomfortable for the player to navigate through. So we decided to separate the information into two screens.</p>        
        <br>
        <h3>From here, we ran into some questions:</h3>
        <ul>
            <li>Should the player be able to work on multiple potions or one potion at a time?</li>
            <li>Does each potion have its own grid or are ingredients for all potions under one grid?</li>
        </ul>
        <p>To visualize our ideas, I created a screen flow to show how a player would navigate through the event based on the different options.</p>
        
        <div ng-controller="EnlargeController">
            <img src="assets/potions/potions_screen_flow.png" alt="screen flow" class="responsive" id="potions_flow" ng-click="enlargeImg(this)">
        </div>
       

    </section>

    <!-- EXPLORING WITH PROTOTYPES -->
    <section class="section" href="structure" id="structure">
        <div class="banner">
            <h1 style="color: #003c4a;">Exploring with Prototypes</h1>
            <hr>
        </div>

        <p>As we dove deeper into this feature, we came up with more ideas that would expand on the given specs. 
            To explore these ideas, we created two interactive prototypes with a tool called Protopie that test the different types of mechanics, in order to figure out which provides the best player experience. Protopie allows for conditional logic, so we were able to make non-linear interactive prototypes. I worked mainly Prototype A, and my teammate, Sally, worked on Prototype B. </p>
        <div class="proto_features">
            <div class="col_container">
                <div class="col">
                    <h3>Prototype A</h3>
                    <ul>
                        <li>Multiple Progression</li>
                        <li>Single Space Removal</li>
                        <li>Individually-layered Spaces</li>
                        <li>Group-layered Spaces</li>
                    </ul>
                </div>
                
                <hr>

                <div class="col">
                    <h3>Prototype B</h3>
                    <ul>
                        <li>Linear Progression</li>
                        <li>Tetris-shaped Removal</li>
                    </ul>
                </div>              
            </div>
            <p>Both prototypes included decoy ingredients and a NUX to guide the player.</p>
        </div>
        <br>
        <br>
        <video autoplay controls class="responsive">
            <source src="assets/potions/potions_prototype.MOV" type="video/mp4">
            Your browser does not support the video tag.
        </video>

        <p>The prototype starts off with a scene that imitates a class lesson from the game. The players will tap on the tasks to collect bottles (pink, yellow, green), and the color depends on the color of the task. </p>
        <p>Starting with Prototype A, the player will enter the potions select screen that displays multiple potions, indicating that they can choose any potion to work on. Since this is a prototype, we were limited on what we could make interactive, so for testing purposes, we added a NUX hand to show the player where to tap in order to find the ingredients. These grids present the single-space removal. The first potion includes a big lock layered on top of a group of spaces. On the second potion’s grid, the player should pretend to be mid-game, so some of the spaces are already uncovered. The potion also displays individually-layered spaces with numbers that indicate how many bottles are needed to uncover it. </p>
        <p>Moving onto Prototype B, the potions select screen displays a linear progression, so the player must finish one potion before moving onto the next. Also, for testing purposes and the limitations of this prototype tool, Sally included flashing spaces to show the player where to tap. This grid presents the tetris-shaped removal.</p>

        <a href="https://cloud.protopie.io/p/82b7b54c63" target="_blank" style="text-align: center;"><h4><u><em>Interact with my prototype</em></u></h4></a>

    


    </section>

    <!-- PLAYER TESTING -->
    <section class="section" id="sketches">
        <div class="banner">
            <h1 style="color: #003c4a;">Player Testing</h1>
            <hr> 
        </div>
        <p>We conducted cognitive walkthroughs with 6 players who have played the game on a regular basis and have been playing for at least a year.</p>

        <h4><mark><u><strong>What we explored</strong></u></mark></h4>
        <ul>
            <li>Is there an interest in this type of event?</li>
            <li>Is it intuitive and easy to understand?</li>
            <li>Is the 8x7 grid size (40px squares on iPhone X) large enough?</li>
            <li>Finalize design options for:</li>
                <ul>
                    <li>Type of Progression</li>
                    <li>Type of Removal Mechanic</li>
                    <li>Type of Space Layering</li>
                </ul>
        </ul>
        <br>

        <h4><mark><u><strong>What we learned</strong></u></mark></h4>
        <ul>
            <li>Interest was high (“fun, engaging, inventive, fulfilling”)</li>
                <ul>
                    <li>On a scale from 1 (not fun) to 5 (very fun), everyone, but one player, voted a 5 — the one voted a 4.5.</li>
                    <li>Players liked the critical thinking and strategic aspect of the feature.</li>
                    <li>Overall, the event was easy to understand, but prototype A was easier than B.</li>
                </ul>
            <li>There weren't any issues with grid size. Every player found it to be comfortable. </li>
            <li>There was preference with Multiple Progression.</li>
                <ul>
                    <li>Players liked being able to choose which potions and rewards to work on.</li>
                </ul>
            <li>The choice for the removal mechanic (single vs. tetris-shaped) was split in half.</li>
            <li>For layered spaces, there was confusion with the Group-layers, so players preferred Individually-layered spaces.</li>
            <li>Some players did not like that the ingredients on the grid could be in a different rotation than what is seen on the left, but others liked it because it provided a challenge.</li>
            
        </ul>

    
    </section>

     <!-- OUR DECISION -->
     <section class="section" id="sketches">
        <div class="banner">
            <h1 style="color: #003c4a;">Our Decision</h1>
            <hr> 
        </div>

        <h4><mark><u><strong>Prototype A</strong></u></mark></h4>
        <div class="sketches">
            <div class="sketch">
                <img src="assets/potions/potions_screen_1.png" alt="screen 1" class="responsive"/>
            </div>
            <div class="sketch">
                <img src="assets/potions/potions_screen_2.png" alt="screen 1" class="responsive"/>
            </div>
        </div>
    
    </section>

    <!-- MAKING IT PRETTY -->
    <section class="section" id="branding">
        <div class="banner">
            <h1 style="color: #003c4a;">Making it Pretty</h1>
            <hr>
        </div>

        <h4><mark><u><strong>Visual Design & Theming</strong></u></mark></h4>
        <p><u><em>How do we provide an immersive experience through theming?</em></u></p>
        <p>We wanted to stray away from numbering the layered spaces, so we explored ideas such as ice and spider webs to represent the multiple layers the player must uncover to get the ingredient. Also, to accommodate those with color-blindness, we wanted to incorporate symbols that go with the different colored squares and came up with various shapes for it.</p>
        

        <div class="sketch">
            <img src="assets/potions/potions_symbols.png" alt="sketch 1" class="responsive">
        </div>
        <div class="sketch">
            <img src="assets/potions/potions_tiles.png" alt="sketch 2" class="responsive">
        </div>
   
    </section>

    <!-- MY TAKEAWAY -->
    <section class="section" id="prototypes">
        <div class="banner">
            <h1 style="color: #003c4a;">My Takeaway</h1>
            <hr>
        </div>

        <p>Working with Jam City this past summer has been such an unique, exciting experience. This was the first game feature I’ve ever worked on, and learning the whole process from concept to execution in games has made me realize how important collaboration between UI/UX, Game Design, Art, and Engineering is. I want to thank Sally, Lamar, and Jackson for guiding me and pushing me to grow as a designer, and I can’t wait for players to enjoy such a fun, special event. </p>
    </section>

<app-viewmoremenu></app-viewmoremenu>

<app-footer></app-footer>

</div>

</body>
</html>



