<app-navbar></app-navbar>
<head>
    <link rel="stylesheet" href="web-design.component.scss">
</head>

<body> 

    <div class="about_section" id="title">

        <div class="col"></div>
        <div class="col"></div>
    </div>
    <section class="about_section">
        <div class="content">
            <div class="col">
                <img src="assets/webdesign/web_cupid.png" class="responsive" alt="project cupid">
                <h3><b>Project Cupid</b></h3>
                <p>Group Finder Tool</p>
                <p style="font-size: 14px; color:rgb(36, 35, 35)"><em>UI Design / UX Testing / Case Study</em></p>
                <a href="https://andrea-lam.com/project-cupid" target="_blank" style="margin-top:.5em"><p><u><em>View</em></u></p></a>          
            </div>
            <div class="col">
                <img src="assets/webdesign/web_ucei.png" class="responsive" alt="UCEI">
                <h3><b>UCEI</b></h3>
                <p>Game Tournament</p>  
                <p style="font-size: 14px; color:rgb(36, 35, 35)"><em>UI Design / Wix</em></p> 
                <a href="https://www.ucei.gg/" target="_blank" style="margin-top:.5em"><p><u><em>View</em></u></p></a>          
            </div>
            <div class="col">
                <img src="assets/webdesign/web_bodiababies.png" class="responsive" alt="coffee">
                <h3><b>Bodiababies</b></h3>
                <p>E-commerce</p> 
                <p style="font-size: 14px; color:rgb(36, 35, 35)"><em>UI Design / Branding / Wix</em></p> 
                <a href="https://www.bodiababies.com/" target="_blank" style="margin-top:.5em"><p><u><em>View</em></u></p></a>           
            </div>
        </div>
    </section>

    <section class="about_section">
        <div class="content">
            <div class="col">
                <img src="assets/webdesign/web_startsmart.png" class="responsive" alt="project cupid">
                <h3><b>Startsmart</b></h3>
                <p>Educational Platform</p>
                <p style="font-size: 14px; color:rgb(36, 35, 35)"><em>UI Design / Branding / Wordpress</em></p> 
                <a href="https://startsmart.co/" target="_blank" style="margin-top:.5em"><p><u><em>View</em></u></p></a>          
            </div>
            <div class="col">
                <img src="assets/webdesign/web_referendum.png" class="responsive" alt="UCEI">
                <h3><b>UCI Esports Referendum</b></h3>
                <p>Informational 1-pager</p>   
                <p style="font-size: 14px; color:rgb(36, 35, 35)"><em>UI Design / Branding / Wix</em></p> 
                <a href="https://boardatthome.wixsite.com/vote" target="_blank" style="margin-top:.5em"><p><u><em>View</em></u></p></a>          
            </div>
            <div class="col">
                <img src="assets/webdesign/web_surviving2020.png" class="responsive" alt="coffee">
                <h3><b>Surviving2020</b></h3>
                <p>Game Pitch 1-pager</p> 
                <p style="font-size: 14px; color:rgb(36, 35, 35)"><em>UI Design / Branding / Wix</em></p>  
                <a href="https://boardatthome.wixsite.com/surviving2020" target="_blank" style="margin-top:.5em"><p><u><em>View</em></u></p></a>           
            </div>
        </div>
    </section>
    

 



<app-footer></app-footer>
</body>