<body>
    <div class="container">
        <h4><mark>View More Projects</mark></h4>
        <div class="menu_container">
            <div class="menu_tile" [style.background-color]="n1[1]" [routerLink]="['/', n1[2]]">
                <h4>{{n1[0]}}</h4>
            </div>
            <div class="menu_tile" [style.background-color]="n2[1]" [routerLink]="['/', n2[2]]">
                <h4>{{n2[0]}}</h4>
            </div>
            <div class="menu_tile" [style.background-color]="n3[1]" [routerLink]="['/', n3[2]]">
                <h4>{{n3[0]}}</h4>
            </div>
        </div>
    </div>
</body>
