<!DOCTYPE html>
<html>
<app-navbar></app-navbar>

<body ng-app="clickImg"> 

<div class="page_container">

    <div id="pop_up" onclick="closeImg(this)">
        <div id="image_enlarged">
            <img id="imgsrc" class="responsive"/>
            <div id="close_btn">
                <img src="assets/close_btn.png"/>
            </div>
        </div>
    </div>


    <section class="grow_title">
        <picture>
            <source media="(min-width: 1900px)" srcset="assets/newworld/newworld_hero_big.png" alt="newworld hero" class="responsive">
            <source media="(min-width: 992px)" srcset="assets/newworld/newworld_hero.png" alt="newworld hero" class="responsive">
            <source media="(min-width: 600px)" srcset="assets/newworld/newworld_hero_med.png"  alt="newworld hero" class="responsive">
            <source media="(max-width: 599px)" srcset="assets/newworld/newworld_hero_sm.png" alt="newworld hero" class="responsive">
            <img src="assets/newworld/newworld_hero.png" alt="newworld hero" class="responsive">
        </picture>
    </section>

    <!-- PROJECT OVERVIEW -->
    <section class="section" href="project_overview" id="project_overview">
        <div class="col1">
            <h5><mark><strong>OVERVIEW</strong></mark></h5>
            <p>My studio, Blind Squirrel Games, has been contracted by Amazon Games Studio to work on their MMORPG, New World. I spent the last year embedded in their UX/UI team, converting wireframes into pixel-perfect mockups, creating UI art assets, and conducting UX reviews on existing in-game features. Here are a few of my projects while working on New World.
            </p>
        </div>
        <div class="col2">
            <h5><mark><strong>ROLE & DURATION</strong></mark></h5>
            <p><strong>UI/UX Artist</strong></p>
            <p><em>Visual Design, Iconography</em></p>
            <hr>
            <p><em>May 2022 - present</em></p>
        </div>
    </section>

    <!-- LEADERBOARDS -->
    <section class="section" href="user" id="user">
        <div class="banner">
            <h1 style="color: #3b3b3b;">Leaderboards</h1>
            <hr>    
        </div>

        <p>Leaderboards is new features that allowed players to compete in various categories and modes in order to claim exclusive titles and/or rewards. I was handed the UX design document and tasked with turning the low/medium fidelity wireframes into pixel-perfect, game-ready mockups while following the New World visual style.</p>
        <br/>

        <h4><mark>Category Select</mark></h4>
        <div id="img_cursor" onclick="enlargeImg(document.getElementById('pop_up'), 'assets/newworld/category_select_hover.png')">
            <img src="assets/newworld/category_select_hover.png" alt="leaderboard category select screen" class="responsive">
        </div>
        <p>This is the landing page where players can see all the categories and subcategories. Each panel will lead the player to its respective leaderboard spreadsheet. I went through multiple passes at the layout of the panels, and we decided the large imagery and icons previewing the subcategories would showcase each leaderboard best.
        </p>

        <h4><mark>Board</mark></h4>
        <div id="img_cursor" onclick="enlargeImg(document.getElementById('pop_up'), 'assets/newworld/spreadsheet.png')">
            <img src="assets/newworld/spreadsheet.png" alt="leaderboard board screen" class="responsive" >
        </div>
        <p>This screen features all the subcategories in a the left nav menu, the leaderboard in the middle with the player’s own score displayed under, and rewards on the right.
        </p>

        <h4><mark>Reward Celebration</mark></h4>
        <div class="vid_container">
            <iframe src="https://player.vimeo.com/video/799741169?h=240ca9b3f5&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479?autoplay=1&loop=1&autopause=0" allowfullscreen allow="autoplay" referrerpolicy="no-referrer" ></iframe>
        </div>
        <p>Using existing motion sequences, I put together a celebratory animation to showcase Leaderboard rewards to the player.
        </p>

    </section>


    <section class="section" href="user" id="user">
        <div class="banner">
            <h1 style="color: #3b3b3b;">Other work</h1>
            <hr>    
        </div>

        <p>Additionally, I created various icons and artwork used for points of interest on the map and for holiday events.</p>
        <div id="img_cursor" onclick="enlargeImg(document.getElementById('pop_up'), 'assets/newworld/nw_icons.png')">
            <img src="assets/newworld/nw_icons.png" alt="leaderboard board screen" class="responsive">
        </div>

        <br/>

    </section>





    <!-- MY TAKEAWAY
    <section class="section" id="prototypes">
        <div class="banner">
            <h1 style="color: #003c4a;">My Takeaway</h1>
            <hr>
        </div>

        <p>Working with Jam City this past summer has been such an unique, exciting experience. This was the first game feature I’ve ever worked on, and learning the whole process from concept to execution in games has made me realize how important collaboration between UI/UX, Game Design, Art, and Engineering is. I want to thank Sally, Lamar, and Jackson for guiding me and pushing me to grow as a designer, and I can’t wait for players to enjoy such a fun, special event. </p>
    </section> -->

<app-viewmoremenu></app-viewmoremenu>

<app-footer></app-footer>

</div>

<script>
    src="assets/js/enlargeImg.js"
</script>

</body>
</html>



