@media screen and (min-width: 600px) and (max-width: 599px) {
    .problem h2 {
        margin-top: 40px;
    }
    .grow_title h3 {
        font-weight: lighter;
    }
    .mockups {
        display: flex;
        flex-direction: column-reverse;
    }
    .pages .col {
        padding-bottom:20px;
    }
    .row5050 .col1 hr {
        margin-top: 20px
    }

}

@media screen and (min-width: 600) and (max-width: 991px) {
    .mockups {
        display: flex;
        flex-direction: column-reverse;
    }

}

@media screen and (min-width: 992px) {
    .mockups {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    }
    #mockup_video {
        max-width: 400px;
    }
    .mockups img {
        overflow: hidden;
        
    }

    .lowfi_img {
        display: flex;
        flex-direction: row;
        width: 100%;

        img {
            width: 25%;
        }
    }
    .pages .col {
        padding-right:40px;
    }
    .row5050 .col1 {
        hr {
            width: 1;
            size: 600;
        }
    }
}

mark {
    background-color: #B3E0DA;
    color: black;
}