<app-navbar></app-navbar>

<body> 

<div class="side_menu">
    <nav>
        <ol>
            <!--
            <li [class.active]="(activeFragment | async)==='project_overview'"><a [routerLink]="['/grow']" [fragment]="['project_overview']">Overview</a></li>
            <li><a [routerLink]="['/grow']" [fragment]="['user']" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">Understanding the User</a></li>
            <li><a [routerLink]="['/grow']" fragment="structure" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">Building the Structure</a></li>
            <li><a href="#sketches">Sketching it Out</a></li>
            <li><a href="#branding">Building the Brand</a></li>
            <li><a [routerLink]="['/grow']" fragment="prototypes" class="menu" id="nav6">Putting it All Together</a></li>
-->
        </ol>
    </nav>
</div>

<div class="page_container">


    <section class="grow_title">
        <picture>
            <source media="(min-width: 1900px)" srcset="assets/grow/grow_hero_big.png" alt="Grow Project hero" class="responsive">
            <source media="(min-width: 992px)" srcset="assets/grow/grow_hero.png" alt="Grow Project hero" class="responsive">
            <source media="(min-width: 600px)" srcset="assets/grow/grow_hero_med.png"  alt="Grow Project hero" class="responsive">
            <source media="(max-width: 599px)" srcset="assets/grow/grow_hero_sm.png" alt="Grow Project hero" class="responsive">
            <img src="assets/grow/grow_hero.png" alt="Grow Project hero" class="responsive">
        </picture>

    </section>

    <!-- PROJECT OVERVIEW -->
    <section class="section" href="project_overview" id="project_overview">
        <div class="col1">
            <h5><mark><strong>OVERVIEW</strong></mark></h5>
            <p>"How much water should I give her? Is the room humidity ok?" As aspiring plant owners, Lisa and I realized the difficulties of plant care, but we found that the responsibility of nuturing another living being contributed to our self-improvement and self-growth.</p>
            <p>So...we envisioned a <strong>plant delivery service</strong> with a <strong>mobile application</strong> that helps people manage and organize their plant family, along with providing the necessary information needed to care for each plant. </p>
            <p>Grow is subscription-based service that sends customers a new plant on a set basis and provides the resources to support the optimal well-being of their plants. The goal is to cultivate <strong> feelings of empowerment</strong> through the <strong>nurturing of plants</strong>.</p>
        </div>
        <div class="col2">
            <h5><mark><strong>ROLE & DURATION</strong></mark></h5>
            <p><strong>Branding, UI Design</strong></p>
            <p><em>Contextual Inquiry, Persona, Visual Design, Wireframes & Prototypes</em></p>
            <p>Team of 1 (Passion Project)</p>
            <hr>
            <p><em>May 2020</em></p>
        </div>
    </section>

    <!-- UNDERSTANDING THE USER -->
    <section class="section" href="user" id="user">
        <div class="banner">
            <h1 style="color: #6fa47e;">Understanding the User</h1>
            <hr>    
        </div>

        <p>When conducting my research, I wanted to understand the motivation behind people who are passionate about plant care and to learn how people, who own multiple plants, take care of their green family.</p>
        <h4><mark><u>Method: Contextual Inquiry</u></mark></h4>
        <p><em>Key Research Question</em></p>
        <h2 style="text-align: center; line-height: 1.0;"><strong><em>What challenges do people who own a lot of plants have when organizing and tracking the care for each plant?</em></strong></h2>
        <p>To design the mobile tool, I observed a participant in their daily morning plant care routine. The participant had 16 plants that were accumulated over the past year, and she had intermediate knowledge in taking care of plants.</p>
        
        <br>

        <h3>What I learned from the Contextual Inquiry</h3>
        <p>The participant used the Notes app on her iPhone to track and manage all of her plants. She had found the plant care information from various online resources and recorded it down everytime she added a new plant to her collection. The information included:</p>
        <ul>
            <li>how often the plant should be watered and the last date it was watered</li>
            <li>the amount of sunlight it should have</li>
            <li>the type of environment and humidity it likes</li>
            <li>any additional notes such as best seasons for fertilization</li>
        </ul>
        <p>The participant described her process as “tedious and time-consuming” and wanted a more quick method in attaining the care instructions for her plants and organizing her plants based on categories.</p>
        <h4><mark><u><strong>Persona</strong></u></mark></h4>
        <p>With what I learned from my research, I created a persona of my target user. I used this to focus the app on satisfying the user’s needs.</p>
        <img src="assets/grow/grow_persona.png" alt="persona for grow project" class="responsive">
    </section>

    <!-- BUILDING THE STRUCTURE -->
    <section class="section" href="structure" id="structure">
        <div class="banner">
            <h1 style="color: #6fa47e;">Building the Structure</h1>
            <hr>
        </div>

        <h4><mark><u><strong>User Flow</strong></u></mark></h4>
        <img src="assets/grow/grow_user_flow.png" width="100%">
        <h4><mark><u><strong>Site Map</strong></u></mark></h4>
        <img src="assets/grow/grow_sitemap.png" width="100%">
    </section>

    <!-- SKETCHING IT OUT -->
    <section class="section" id="sketches">
        <div class="banner">
            <h1 style="color: #6fa47e;">Sketching it Out</h1>
            <hr> 
        </div>

        <div class="lowfi_img">
            <img src="assets/grow/grow_1.png" class="responsive">
            <img src="assets/grow/grow_2.png" class="responsive">
            <img src="assets/grow/grow_3.png" class="responsive">
            <img src="assets/grow/grow_4.png" class="responsive">
        </div>

            <h4><mark><u><strong>Wireframes</strong></u></mark></h4>
        <p><em>The Pages</em></p>
        <div class="pages">
            <div class="col">
                <img src="assets/grow/home.png" width="50px" alt="">
                <h5 style="margin-top: 0px; margin-bottom: -10px;">Home</h5>
                <p>Discover our variety of plants and filter based on categories and levels. Clicking on each plant will lead to its plant page with further description and care instructions.</p>
            </div>
            <div class="col">
                <img src="assets/grow/favorite.png" width="50px" alt="">
                <h5 style="margin-top: 0px; margin-bottom: -10px;">Favorites</h5>
                <p>Showcases the user’s adopted plants. Each card displays a picture of the plant, along with its name. Clicking on each adopted plant will lead to its health page, where the user can track their care for their plant by date and time.</p>
            </div>
            <div class="col">
                <img src="assets/grow/family.png" width="50px" alt="">
                <h5 style="margin-top: 0px; margin-bottom: -10px;">Family</h5>
                <p>Informs the user of the plant being delivered next. Also shows a list of the other plants the user has favorited. </p>
            </div>
            <div class="col">
                <img src="assets/grow/user.png" width="50px" alt="">
                <h5 style="margin-top: 0px; margin-bottom: -10px;">Profile</h5>
                <p>Displays the user’s name, picture, number of adopted plants, and achievements. Also where the user can access their settings.</p>
            </div>
        </div>
    </section>

    <!-- BUILDING THE BRAND -->
    <section class="section" id="branding">
        <div class="banner">
            <h1 style="color: #6fa47e;">Building the Brand</h1>
            <hr>
        </div>
        <div class="row5050">
            <div class="col1">
                <h4><mark><u><strong>THE COLORS</strong></u></mark> - Natural, Cozy, Elegant</h4>
                <img src="assets/grow/grow_color.png" alt="brand colors" width="100%">
            </div>
            <hr>

            <div class="col2">
                <h4><mark><u><strong>THE TYPOGRAPHY</strong></u></mark> - Playful, Mature</h4>
                <img src="assets/grow/grow_fonts.png" alt="fonts" width="100%">

                <hr style="margin-top: 50px; margin-bottom: 50px;">

                <h4><mark><u><strong>THE LOGO & ASSETS</strong></u></mark> - Classy, Minimal, Chic</h4>
                <img src="assets/grow/grow_assets.png" alt="logo and assets" width="100%">
            </div>
        </div>
    </section>

    <!-- PUTTING IT ALL TOGETHER -->
    <section class="section" id="prototypes">
        <div class="banner">
            <h1 style="color: #6fa47e;">Putting it All Together</h1>
            <hr>
        </div>

        <h4><mark><u><strong>Final Mockups</strong></u></mark></h4>
        <a href="https://xd.adobe.com/view/3408e6fe-8a1e-4b36-b583-87b9dff0aa19-615b/" target="_blank"><h4><u><em>Interact with my prototype</em></u></h4></a>
        <div class="mockups">
            <img src="assets/grow/grow_mockups.png" alt="mockups" class="responsive">
        </div>

        <h4><mark><u><strong>Takeaways</strong></u></mark></h4>
        <p>As my first UI project, I have a clearer understanding of the design processes and the importance of user research to the final elements implemented in the design. Since this was a project that was personal to me, I am proud of the outcome. The next steps would be to carry out further testing to refine the prototypes.</p>
    </section>

<app-viewmoremenu></app-viewmoremenu>
<app-footer></app-footer>

</div>

</body>

