@media screen and (max-width: 599px) {
  .title_name {
    margin-top: 10%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 200px;

  /* cat fade in https://stackoverflow.com/questions/24939347/how-can-i-add-a-time-delay-to-my-divs-so-they-appear-one-after-the-other-like-a/24939557 */
  @-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
  @-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
  @keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
  #cat {
      opacity:0;
      -webkit-animation:fadeIn ease-in 1;
      -moz-animation:fadeIn ease-in 1;
      animation:fadeIn ease-in 1;

      -webkit-animation-fill-mode:forwards; 
      -moz-animation-fill-mode:forwards;
      animation-fill-mode:forwards;

      -webkit-animation-duration:1s;
      -moz-animation-duration:1s;
      animation-duration:1s;

      -webkit-animation-delay: 2.5s;
      -moz-animation-delay: 2.5s;
      animation-delay: 2.5s;

      img {
        width: 60px;
      }
    }
  }
  $slider-name: typing-slider;
  $slides: 3;
  $typing-duration: 3s;
  $tab-letters: 35 40 54; //number of characters in each paragraph
  $background: #f3f3f3;
  $slider-font-size: 14px;
  @keyframes slide {
    #{100% / $slides} { font-size: $slider-font-size; letter-spacing: 1px; }
    to { font-size: 0; letter-spacing: 0; }
  }

  /* PROJECTS */
  .projects_container {
    background-color: #F3F3F3;
    width: 100%;
  }
  .projects {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .project_tags {
    float: right;
    margin-top: -1px;
  }
  .project_tags li{
    padding-top: 8px;
    list-style: none;
    font-family: Nunito-SemiBold;
    border-radius: 10px;
    text-align: center;
    font-size: 11px;
    margin: 0;
  }

  .r1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .p1 {
    }

    .project_tile {
      position: relative;
      border-radius: 20px;
      height: 250px;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain
      }

      &:hover .overlay {
        opacity: 1;
        visibility: visible;
        
      }

      &:hover .text {
        transform: translateY(0);
      }

      .overlay {
        position: absolute;
        border-radius: 20px;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(68, 68, 68, 0.712);
        color: white;
        visibility: hidden;
        opacity: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        
      }
      
      .text {
        transition: .2s;
        transform: translateY(1em);
        h4 {
          font-size: 24px;
        }
      }
    

    }

    #potions_tile {
      background-color: #F5B971;
    }

    #sdv_tile {
      background-color: #CFB5D0;
    }

    #warhawk_tile {
      background-color: #BDE9F2;
    }

    #pollinate_tile {
      background-color: #A9C5A8;
    }

    #surviving2020_tile {
      background-color: #F0B8BF;
    }

    #grow_tile {
      background-color: #A3DDCB;
    }

    #projectcupid_tile {
      background-color: #CFB5D0;
    }

    #blank_tile {
      background-color: #2222;
    }


  }
  .graphics_row{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .portfolio-single {
    display: inline-block;
    vertical-align: top;
    padding-bottom: 20px;


    // &:active,
    // &.hover {
    //   figure {
    //     transform: rotateY(180deg);
    //   }
    // }

    figure {
      position: relative;
      width: 100%;
      height: 0;
      padding-top: 100%;
      margin: 0;
      transition: transform 0.3s ease-out;
      perspective: 1000;
      transform-style: preserve-3d;

      img {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
      }
    }

    figcaption {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      display: block;
      text-transform: uppercase;
      text-align: center;
      color: black;
      transform: rotateY(180deg);
      backface-visibility: hidden;
      background-color: #ffffff;
      //background-image: linear-gradient(135deg, #f7b633 0%, #F7CE68 100%);
      word-wrap: break-word;

      h4 {
        position: absolute;
        top: 50%;
        width: 100%;
        margin: 0;
        line-height: 1.0;
        transform: translateY(-75%);
        text-align: center;

      }
    }
  }
}
@media screen and (min-width: 600px) and (max-width: 991px)  {
  .title_name {
    margin-top: 10%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height: 300px;

  /* cat fade in https://stackoverflow.com/questions/24939347/how-can-i-add-a-time-delay-to-my-divs-so-they-appear-one-after-the-other-like-a/24939557 */
  @-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
  @-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
  @keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
  #cat {
      opacity:0;
      -webkit-animation:fadeIn ease-in 1;
      -moz-animation:fadeIn ease-in 1;
      animation:fadeIn ease-in 1;

      -webkit-animation-fill-mode:forwards; 
      -moz-animation-fill-mode:forwards;
      animation-fill-mode:forwards;

      -webkit-animation-duration:1s;
      -moz-animation-duration:1s;
      animation-duration:1s;

      -webkit-animation-delay: 2.5s;
      -moz-animation-delay: 2.5s;
      animation-delay: 2.5s;

      img {
        width: 80px;
      }
    }
  }
  $slider-name: typing-slider;
  $slides: 3;
  $typing-duration: 3s;
  $tab-letters: 35 40 54; //number of characters in each paragraph
  $background: #f3f3f3;
  $slider-font-size: 14px;
  @keyframes slide {
    #{100% / $slides} { font-size: $slider-font-size; letter-spacing: 1px; }
    to { font-size: 0; letter-spacing: 0; }
  }

  .projects_container {
    background-color: #F3F3F3;
    width: 100%;
  }
  .projects {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .project_tags {
    float: right;
    margin-top: -1px;
  }
  .project_tags li{
    padding-top: 8px;
    list-style: none;
    font-family: Nunito-SemiBold;
    border-radius: 10px;
    text-align: center;
    font-size: 11px;
    margin: 0;
  }

  .r1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .p1 {
    }

    .project_tile {
      position: relative;
      border-radius: 20px;
      height: 250px;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain
      }

      &:hover .overlay {
        opacity: 1;
        visibility: visible;
        
      }

      &:hover .text {
        transform: translateY(0);
      }

      .overlay {
        position: absolute;
        border-radius: 20px;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(68, 68, 68, 0.712);
        color: white;
        visibility: hidden;
        opacity: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        
      }
      
      .text {
        transition: .2s;
        transform: translateY(1em);
        h4 {
          font-size: 24px;
        }
      }
    

    }

    #potions_tile {
      background-color: #F5B971;
    }

    #sdv_tile {
      background-color: #CFB5D0;
    }

    #warhawk_tile {
      background-color: #BDE9F2;
    }

    #pollinate_tile {
      background-color: #A9C5A8;
    }

    #surviving2020_tile {
      background-color: #F0B8BF;
    }

    #grow_tile {
      background-color: #A3DDCB;
    }

    #projectcupid_tile {
      background-color: #CFB5D0;
    }
    
    #blank_tile {
      background-color: #2222;
    }


  }
  .graphics_row{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .portfolio-single {
    display: inline-block;
    vertical-align: top;
    padding-bottom: 20px;
    width: 32%;


    &:active,
    &.hover {
      figure {
        transform: rotateY(180deg);
      }
    }

    figure {
      position: relative;
      width: 100%;
      height: 0;
      padding-top: 100%;
      margin: 0;
      transition: transform 0.3s ease-out;
      perspective: 1000;
      transform-style: preserve-3d;

      img {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
      }
    }

    figcaption {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      display: block;
      text-transform: uppercase;
      text-align: center;
      color: black;
      transform: rotateY(180deg);
      backface-visibility: hidden;
      background-color: #ffffff;
      word-wrap: break-word;

      h4 {
        position: absolute;
        top: 50%;
        width: 100%;
        margin: 0;
        line-height: 1.0;
        transform: translateY(-75%);
        text-align: center;

      }
    }
}
}

@media screen and (min-width: 992px) {
  .title_name {
    margin-top: 10%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height: 300px;

  /* cat fade in https://stackoverflow.com/questions/24939347/how-can-i-add-a-time-delay-to-my-divs-so-they-appear-one-after-the-other-like-a/24939557 */
  @-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
  @-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
  @keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
  #cat {
      opacity:0;
      -webkit-animation:fadeIn ease-in 1;
      -moz-animation:fadeIn ease-in 1;
      animation:fadeIn ease-in 1;

      -webkit-animation-fill-mode:forwards; 
      -moz-animation-fill-mode:forwards;
      animation-fill-mode:forwards;

      -webkit-animation-duration:1s;
      -moz-animation-duration:1s;
      animation-duration:1s;

      -webkit-animation-delay: 2.5s;
      -moz-animation-delay: 2.5s;
      animation-delay: 2.5s;

      img {
        width: 100px;
      }
    }
  }
  $slider-name: typing-slider;
  $slides: 3;
  $typing-duration: 3s;
  $tab-letters: 35 40 54; //number of characters in each paragraph
  $background: #f3f3f3;
  $slider-font-size: 14px;
  @keyframes slide {
    #{100% / $slides} { font-size: $slider-font-size; letter-spacing: 1px; }
    to { font-size: 0; letter-spacing: 0; }
  }


  /* PROJECTS */
  .projects_container {
    background-color: #F3F3F3;
    width: 100%;
  }
  .projects {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .project_tags {
    float: right;
    margin-top: -1px;
  }
  .project_tags li{
    padding-top: 8px;
    list-style: none;
    font-family: Nunito-SemiBold;
    border-radius: 10px;
    text-align: center;
    font-size: 11px;
    margin: 0;
  }
  .r1 {
    display: flex;
    justify-content: space-between;
    .p1 {
      width: 48%;
    }

    .project_tile {
      position: relative;
      border-radius: 20px;
      height: 250px;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain
      }

      &:hover .overlay {
        opacity: 1;
        visibility: visible;
        
      }

      &:hover .text {
        transform: translateY(0);
      }

      .overlay {
        position: absolute;
        border-radius: 20px;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(68, 68, 68, 0.712);
        color: white;
        visibility: hidden;
        opacity: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        
      }
      
      .text {
        transition: .2s;
        transform: translateY(1em);
        h4 {
          font-size: 24px;
        }
      }
    

    }

    #potions_tile {
      background-color: #F5B971;
    }

    #sdv_tile {
      background-color: #CFB5D0;
    }

    #warhawk_tile {
      background-color: #BDE9F2;
    }

    #pollinate_tile {
      background-color: #A9C5A8;
    }

    #surviving2020_tile {
      background-color: #F0B8BF;
    }

    #grow_tile {
      background-color: #A3DDCB;
    }

    #projectcupid_tile {
      background-color: #CFB5D0;
    }

    #blank_tile {
      background-color: #2222;
    }


  }
  .graphics_row{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 20px;
  }

  .portfolio-single {
    width: 32%;
    display: inline-block;
    vertical-align: top;


    &:hover,
    &.hover {
      figure {
        transform: rotateY(180deg);
      }
    }

    figure {
      position: relative;
      width: 100%;
      height: 0;
      padding-top: 100%;
      margin: 0;
      transition: transform 0.3s ease-out;
      perspective: 1000;
      transform-style: preserve-3d;

      img {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
      }
    }

    figcaption {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      display: block;
      text-transform: uppercase;
      text-align: center;
      color: black;
      transform: rotateY(180deg);
      backface-visibility: hidden;
      background-color: #ffffff;
      //background-image: linear-gradient(135deg, #f7b633 0%, #F7CE68 100%);
      word-wrap: break-word;

      h4 {
        position: absolute;
        top: 50%;
        width: 100%;
        margin: 0;
        line-height: 1.0;
        transform: translateY(-75%);
        text-align: center;

      }
    }
}
  /* https://codepen.io/mathieu_fortune/pen/owMNPB */
  .graphics_row{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 20px;
  }

  .portfolio-single {
    width: 32%;
    display: inline-block;
    vertical-align: top;


    &:hover,
    &.hover {
      figure {
        transform: rotateY(180deg);
      }
    }

    figure {
      position: relative;
      width: 100%;
      height: 0;
      padding-top: 100%;
      margin: 0;
      transition: transform 0.3s ease-out;
      perspective: 1000;
      transform-style: preserve-3d;

      img {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
      }
    }

    figcaption {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      display: block;
      text-transform: uppercase;
      text-align: center;
      color: black;
      transform: rotateY(180deg);
      backface-visibility: hidden;
      background-color: #ffffff;
      //background-image: linear-gradient(135deg, #f7b633 0%, #F7CE68 100%);
      word-wrap: break-word;

      h4 {
        position: absolute;
        top: 50%;
        width: 100%;
        margin: 0;
        line-height: 1.0;
        transform: translateY(-75%);
        text-align: center;

      }
    }
}

}

@media screen and (min-width: 1900px) {

  $slider-name: typing-slider;
  $slides: 3;
  $typing-duration: 3s;
  $tab-letters: 35 40 54; //number of characters in each paragraph
  $background: #f3f3f3;
  $slider-font-size: 20px;
  @keyframes slide {
    #{100% / $slides} { font-size: $slider-font-size; letter-spacing: 1px; }
    to { font-size: 0; letter-spacing: 0; }
  }

  .graphics_row{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 20px;
  }

  .portfolio-single {
    width: 32%;
    display: inline-block;
    vertical-align: top;


    &:hover,
    &.hover {
      figure {
        transform: rotateY(180deg);
      }
    }

    figure {
      position: relative;
      width: 100%;
      height: 0;
      padding-top: 100%;
      margin: 0;
      transition: transform 0.3s ease-out;
      perspective: 1000;
      transform-style: preserve-3d;

      img {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
      }
    }

    figcaption {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      display: block;
      text-transform: uppercase;
      text-align: center;
      color: black;
      transform: rotateY(180deg);
      backface-visibility: hidden;
      background-color: #ffffff;
      //background-image: linear-gradient(135deg, #f7b633 0%, #F7CE68 100%);
      word-wrap: break-word;

      h4 {
        position: absolute;
        top: 50%;
        width: 100%;
        margin: 0;
        line-height: 1.0;
        transform: translateY(-75%);
        text-align: center;

      }
    }
}
  /* https://codepen.io/mathieu_fortune/pen/owMNPB */
  .graphics_row{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 20px;
  }

  .portfolio-single {
    width: 32%;
    display: inline-block;
    vertical-align: top;


    &:hover,
    &.hover {
      figure {
        transform: rotateY(180deg);
      }
    }

    figure {
      position: relative;
      width: 100%;
      height: 0;
      padding-top: 100%;
      margin: 0;
      transition: transform 0.3s ease-out;
      perspective: 1000;
      transform-style: preserve-3d;

      img {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
      }
    }

    figcaption {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      display: block;
      text-transform: uppercase;
      text-align: center;
      color: black;
      transform: rotateY(180deg);
      backface-visibility: hidden;
      background-color: #ffffff;
      word-wrap: break-word;

      h4 {
        position: absolute;
        top: 50%;
        width: 100%;
        margin: 0;
        line-height: 1.0;
        transform: translateY(-75%);
        text-align: center;

      }
    }
}


  

}

/* https://codepen.io/maxvoltar/pen/ZEzNYeM */


.path {
  stroke-dashoffset: 0;
  stroke-dasharray: 100%;
  animation: dash 4.5s linear;
}
.path:nth-child(10) {
  animation-delay: -0.75s;
}
.path:nth-child(9) {
  animation-delay: -1s;
}
.path:nth-child(8) {
  animation-delay: -1s;
}
.path:nth-child(7) {
  animation-delay: -0.75s;
}
.path:nth-child(6) {
  animation-delay: -0.75s;
}
.path:nth-child(5) {
  animation-delay: -1s;
}
.path:nth-child(4) {
  animation-delay: -0.75s;
}
.path:nth-child(3) {
  animation-delay: -0.5s;
}
.path:nth-child(2) {
  animation-delay: -0.25s;
}

/* https://dev.to/gscode/11-typewriter-effect-3p3c */


$slider-name: typing-slider;
$slides: 3;
$typing-duration: 3s;
$tab-letters: 35 40 54; //number of characters in each paragraph
$background: #f3f3f3;


.wrapper {
  float: right;
  animation-delay: 3s;
  font-family: Nunito-Bold; 
  display: flex;
  height:20px;
  align-items: flex-end;
  background-color: $background;
}

@keyframes cursor {
  from, to { border-color: transparent; }
  50% { border-color: black; }
}

@keyframes typing {
  from { width: 100%; }
  90%, to { width: 0; }
}


.#{$slider-name} {
  text-align: center;
  white-space: nowrap;
}

.#{$slider-name} .item {
  position: relative;
  display: inline;
  font-size: 0;
  text-transform: uppercase;
  letter-spacing: 0;
  animation: slide $typing-duration * $slides step-start infinite;
}

.#{$slider-name} .item::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border-left: 2px solid black;
  background-color: $background;
  animation: typing $typing-duration infinite,
            cursor 1s infinite;
}

@each $letters in $tab-letters {
  $i: index($tab-letters, $letters);
  .#{$slider-name} .item:nth-child(#{$i}) {
    animation-delay:  $typing-duration * ($i);
    &::after {
      animation-delay: $typing-duration * ($i - 2);
      animation-timing-function: steps(#{$letters}), step-end;
    }
  }
}



@keyframes dash {
  0%,
  50% {
    stroke-dashoffset: 100%;
  }
  to {
    stroke-dashoffset: 0;
  }
}








