<app-navbar></app-navbar>
<head>
  <link rel="stylesheet" href="home.component.scss">
</head>

<body>

<div class="page_container">

  <div class="title_name">
    <div id="cat">
      <img src="assets/cat.png" alt="pixel cat">
    </div>
    <!-- Generator: Adobe Illustrator 25.0.1, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
    <svg version="1.1" id="Layer_1" x="0px" y="0px"
       viewBox="0 0 980.8 134.5" style="enable-background:new 0 0 980.8 134.5;" xml:space="preserve">
    <style type="text/css">
      #st0{fill:none;stroke:#CFB5D0;stroke-width:23;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
      #st1{fill:none;stroke:#A3DDCB;stroke-width:23;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
      #st2{fill:none;stroke:#F0B8BF;stroke-width:23;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
      #st3{fill:none;stroke:#F5B971;stroke-width:23;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
      #st4{fill:none;stroke:#EEAA8C;stroke-width:23;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
    </style>
    <g>
      <g>
        <path class="path" id="st0" d="M84.9,106.4c0,0,0-38.8,0-55.3c0-14.9-15-28.7-30.4-28.7h0c-15.4,0-30.4,13.8-30.4,28.7c0,16.5,0,55.3,0,55.3"/>
        <line class="path" id="st0" x1="28" y1="70.7" x2="82" y2="70.7"/>
        <path class="path" id="st0" d="M575,106.4c0,0,0-38.8,0-55.3c0-14.9-15-28.7-30.4-28.7h0c-15.4,0-30.4,13.8-30.4,28.7c0,16.5,0,55.3,0,55.3"/>
        <line class="path" id="st0" x1="518" y1="70.7" x2="572" y2="70.7"/>
        <path class="path" id="st0" d="M834,106.3c0,0,0-38.8,0-55.3c0-14.9-15-28.7-30.4-28.7h0c-15.4,0-30.4,13.8-30.4,28.7c0,16.5,0,55.3,0,55.3"/>
        <line class="path" id="st0" x1="777.1" y1="70.6" x2="831.1" y2="70.6"/>
        <polyline class="path" id="st1" points="131.5,106.5 131.5,22.6 190.7,106.5 190.7,22.6 		"/>
        <path class="path" id="st2" d="M289.6,64.7c0,5.2,0.6,14.5-2.7,23.2c-4.3,11.5-15.6,19.2-28.3,19.2h-21.8V64.7V22.3h21.8
        c12.6,0,23.9,7.7,28.3,19.2C290.2,50.1,289.6,59.5,289.6,64.7z"/>
        <path class="path" id="st3" d="M335.1,106.6v-84h28.7c12.1,0,21.9,9.5,21.9,21.2v0c0,11.7-9.8,21.2-21.9,21.2h-28.3"/>
        <line class="path" id="st3" x1="354.8" y1="66.5" x2="383.5" y2="106.6"/>
        <polyline class="path" id="st4" points="469.5,22.3 425.6,22.3 425.6,106.3 469.2,106.3 		"/>
        <line class="path" id="st4" x1="426.1" y1="66.3" x2="469.2" y2="66.3"/>
        <polyline class="path" id="st3" points="678.7,22.3 678.7,106.3 727.7,106.3 	"/>
        <polyline class="path" id="st1" points="953.4,107.1 953.4,23.1 916.8,65.5 880.3,23.1 880.3,107.1 		"/>
      </g>
    </g>
    </svg>
    
<div class="wrapper">
  <div class="typing-slider">
    <span class="item">UI & UX Designer </span>
    <span class="item">Graphic Designer </span>
    <span class="item">Frontend Developer</span>
  </div>
</div>

</div>

<section class="projects_container" id="projects">
  <h2>Projects</h2>
  
  <div class="r1">
    <div class="p1">
      <div class="project_tile" id="sdv_tile" [routerLink]="['/stardew-journal']">
        <img src="assets/Stardew Journal_preview.png" width="400" alt="">
        <div class="overlay">
          <div class="text"><h4>Stardew Journal</h4></div>
        </div>
      </div>
      <ul class="project_tags">
        <li>UI/UX  /  APP DESIGN  /  BRANDING</li>
      </ul>
    </div>

    <div class="p1">
      <div class="project_tile" id="grow_tile" [routerLink]="['/grow']">
        <img src="assets/grow_preview.png" width="400" alt="surviving2020 game">
        <div class="overlay">
          <div class="text"><h4>grow</h4></div>
        </div>
      </div>
      <ul class="project_tags">
        <li>UI/UX  /  APP DESIGN  /  BRANDING</li>
      </ul>
    </div>
    
  </div>

  <div class="r1">
    <div class="p1">
      <div class="project_tile" id="surviving2020_tile" [routerLink]="['/surviving2020']">
        <img src="assets/Surviving2020_preview.png" alt="project cupid app">
        <div class="overlay">
          <div class="text"><h4>Surviving2020</h4></div>
        </div>
      </div>
      <ul class="project_tags">
        <li>GAME DESIGN  /  PIXEL ART  /  TWINE</li>
      </ul>
    </div>

    <div class="p1">
      <div class="project_tile" id="projectcupid_tile" [routerLink]="['/project-cupid']">
        <img src="assets/ProjectCupid_preview.png" width="400" alt="grow app">
        <div class="overlay">
          <div class="text"><h4>ProjectCupid</h4></div>
        </div>
      </div>
      <ul class="project_tags">
        <li>UI/UX  /  WEB DESIGN</li>
      </ul>
    </div>


  </div>


</section>

<hr style="text-align: center; margin-top:100px; margin-left:100px; margin-right:100px;">

<section class="art_container" id="graphics">
  <h2>Graphics</h2>
  
  <div class="graphics_row">
    <div class="portfolio-single" ontouchstart="this.classList.toggle('hover');">
      <figure>
        <img src="assets/graphics/UCHI.png" alt="University of California Holiday Invitational" />
        <figcaption>
          <h4>University of California Holiday Invitational</h4>
        </figcaption>
      </figure>
    </div>
    
    <div class="portfolio-single" ontouchstart="this.classList.toggle('hover');">
      <figure>
        <img src="assets/graphics/summer_camps.png" alt="UCI Esports Summer Camps" />
        <figcaption>
          <h4>UCI Esports<br>Summer Camps</h4>
        </figcaption>
      </figure>
    </div>
    
    <div class="portfolio-single" ontouchstart="this.classList.toggle('hover');">
      <figure>
        <img src="assets/graphics/fall_recruit.png"alt="UCI Esports Fall Recruitment" />
        <figcaption>
          <h4>UCI Esports<br>Fall Recruitment</h4>
        </figcaption>
      </figure>
    </div>
  </div>
  
  <div class="graphics_row">
    <div class="portfolio-single" ontouchstart="this.classList.toggle('hover');">
      <figure>
        <img src="assets/graphics/OW_nationals.png" alt="Overwatch Collegiate Championship 2021" />
        <figcaption>
          <h4>Overwatch Collegiate Championship 2021</h4>
        </figcaption>
      </figure>
    </div>
    
    <div class="portfolio-single" ontouchstart="this.classList.toggle('hover');">
      <figure>
        <img src="assets/graphics/esc.png" alt="Esports Conference" />
        <figcaption>
          <h4>Esports Conference</h4>
        </figcaption>
      </figure>
    </div>
    
    <div class="portfolio-single" ontouchstart="this.classList.toggle('hover');">
      
    </div>
  
  </div>

</section>


</div>
<app-footer></app-footer>
</body>


